* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #bfdbff, #e3c1ff); /* Cor suave para o fundo */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000; /* Texto em cor escura */
    line-height: 1.5;
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: 50px auto; /* Centraliza a página */
    padding: 70px;
    background-color: #fff; /* Cor de fundo do container */
    border-radius: 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombras sutis */
}

h1 {
    text-align: center;
    font-size: 3.5rem;
    color: #000000;
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"] {
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 20px;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #ff950a; /* Cor de foco */
    outline: none;
}

button {
    padding: 20px;
    font-size: 1rem;
    background-color: #ff950a;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #a75e00;
}


.weather-card {
    background-color: #f0efef;
    padding: 25px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.weather-card h3 {
    font-size: 2rem;
    color: #ff950a;
    margin-bottom: 10px;
}

.weather-card p {
    font-size: 1.2rem;
    color: #000000;
}

.forecast-list {
    list-style: none;
    padding: 0;
    margin-top: 25px;
}

.forecast-item {
    background-color: #f0efef;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.forecast-item:hover{
    background-color: #ffffff;
}

.forecast-item strong {
    color: #ff950a;
    font-size: 1.1rem;
}

.footer {
    text-align: center;
    font-size: 0.9rem;
    color: #aaa;
    margin-top: 40px;
}

.footer a {
    color: #007bffd3;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
